@charset "utf-8";

/*ベーススタイル*/
body {
	font-family: "Noto Sans JP","Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
        font-size: 15px;
	line-height: 1.5;
	color: #333
}



/*セクション*/
.section{
        text-align: center;
	padding: 300px 15px;
        background-color: #D3D3D3;
}
.section.section-2{
        text-align: left;
        align-items: center;
	background-color: #90EE90;
}
.about.me{
        justify-content: center;
        
}
.image.me{
        width: 150px;
        height: auto;
        display: flex;
}


/*ヘッドライン*/
.section-headline{
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	margin: 0 0 40px;
}

/*サイト説明*/
.about-chaption{
	font-size: 15px;
        padding-left: 15px;
}
.about.me{
        margin: 0;
        display: flex;
}