@charset "utf-8";

@media screen and


/*ベーススタイル*/
body {
	font-family: "Noto Sans JP","Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
        font-size: 15px;
	line-height: 1.5;
	color: #333
        caret-color: transparent;
}

/*セクション*/
.section{
        text-align: center;
	padding: 800px ;
        background-color: #90EE90;
}
.section.section-2{
        text-align: left;
        align-items: center;
	background-color: #D3D3D3;
}
.image.me{
        width: 150px;
        height: auto;
        display: flex;
        align-self: flex-start;
}
@media screen and (max-width: 768px){
        .image. me{
           width: 600px;
           height: auto;
           margin-bottom: 20px;
           display: flex;
           align-self: flex-start;
        }
}

/*ヘッダー*/
.header{
        width: 100%;
        disp;ay: flex;
        justify-content: center;
        texit-align: center;
        align-items: center;
        padding: 0 15px;
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0; 
        background-color: rgba(254,254,254,0.7)
}
.header-navlist{
        max-width:90vw;
        margin: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
}
.header-navitem > a{
        display: block;
        padding: 10px 30px 20px 10px;
        color: #333;
        text-decoration: none;
        font-weight: bold;
        border-bottom: 2px solid tansparent;
        transition: border-color 0.25s;
}
.header-navitem > a:hover{
        border-bottom: 2px solid #333;
}



/*ヘッドライン*/
.section-headline{
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	margin: 0 0 40px;
}

/*サイト説明*/
.about.me{
        margin: 0;
        display: flex;
}
.about-chaption{
	font-size: 15px;
        padding-left: 15px;
}
@media screen and (max-width: 768px){
        .about-chaption{
           font-size: 30px;
           padding: 15px;
        }
}


.sns.icon{
        width: 5%;
        height: auto;
        font-size: 15px;
}
.worksdata{
        width: 70%;
        height: auto;
        margin: 10px;
        box-shadow: 2px 2px 8px gray;
        transition: transform .2s;
}
.worksdata:hover{
        transform: scale(1.06);
}
