@charset "utf-8";

/*ベーススタイル*/
body {
	font-family: "Noto Sans JP","Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
        font-size: 15px;
	line-height: 1.5;
	color: #333
}


/*セクション*/
.section{
	padding: 30px 15px;
}
.section.section-2{
	background: #efefef;
}

/*ヘッドライン*/
.section-headline{
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	margin: 0 0 40px;
}

/*サイト説明*/
.about-chaption{
}

